<title>E-Commerce | Datahouse Akademi | @ViewData["Title"]</title>
<meta charset="utf-8" />
<meta name="description" content="Datahouse Akademi" />
<meta name="keywords" content="Datahouse Akademi" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
