<div id="dvLoader" class="fadeMe">
  <div id="icon-container" style="width: 350px; height: 350px; margin-left: auto; margin-right: auto; vertical-align: middle; position: static;margin-top: 13%;"></div>
</div>